<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <meta charset="UTF-8">
        <title>MyGrm Title</title>
    </head>
    <body>
    <!-- As a link -->
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">My Garmin Data</a>
            <span class="navbar-text">
                Some real cool sample data
            </span>
        </nav>
       <div class="container">
            <h2>user :{{ user }}</h2>
           <h1>{{ password }}</h1>
           Show the Data

        </div>

    </body>
</html>